body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #FFF5E1;
  text-align: center;
}
h1 {
  color: #8B4513; /* Коричневый для "медвежьей" темы */
}
.button {
  background-color: #FFA07A;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
